

        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        
        .encabezado{
            background-color: rgb(36, 5, 150);
            color: white;
            text-align: center;
            padding: 20px;
        }

        .encabezado h1{
            margin: 0;
        }

    
        .menu{
            background-color: #222;
            padding: 10px;
        }

        .menu a{
            color: white;
            text-decoration: none;
            margin-right: 20px;
            font-weight: bold;
        }

        .menu a:hover{
            color: yellow;
        }

    
        .contenedor{
            width: 90%;
            margin: auto;
            margin-top: 20px;
        }

    
        .articulo{
            background-color: white;
            margin-bottom: 25px;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 2px 2px 8px gray;
        }

        .articulo h2{
            color: darkblue;
        }

        .fecha{
            color: gray;
            font-size: 14px;
        }

        .articulo img{
            width: 100%;
            max-height: 350px;
            object-fit: cover;
            border-radius: 5px;
        }

        .texto{
            margin-top: 15px;
            text-align: justify;
            line-height: 1.6;
        }

       
        .footer{
            background-color: #222;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
        }
